@import "../variables";

$logo-height: 56px;
$menu-item-height: 20px;


.alm-header{
    padding: 0 2em;
    background-color: $ws_white; 

    @include for-tablet-portrait-up{
        padding: 0 10%;
    }
}

.alm-header-content{
    padding: 2em 0;
    line-height: $logo-height
}

.alm-logo{
    float: left;
    width: $logo-height;
    height: $logo-height;
    text-decoration: none;
    vertical-align: top;

    img{
        vertical-align: top;
    }

    & > span {
        display: none;
    }

    @include for-tablet-portrait-up{
        width: auto;

        & > span {
            display: inline-block;
            font-size: 2.5em;
            margin-left: .25em;
            color: $text-color-grey;
        }
    }
}

@mixin alm-nav-base($floatDefault, $floatTabletUp) {
    float: $floatDefault;
    line-height: $menu-item-height;

    $onethird: ($logo-height - $menu-item-height)/3;
    padding: $onethird*2 0 $onethird 0;

    @include for-tablet-portrait-up{
        float: $floatTabletUp;
    }

    & > a{
        margin-left: 1em;

        @include for-tablet-portrait-up{
            margin-left: 1.5em;
        }
    
        @include for-tablet-landscape-up{
            margin-left: 2em;
        }
    }

    & > .alm-nav-link {
        font-size: $font-size-larger;
        color: $text-color-grey;
        padding: 0 1px;
        text-decoration: none;
        border-bottom: 3px solid transparent;

        &.alm-nav-selected{
            border-bottom-color: $color-accent-2;
        }

        &:hover{
            border-bottom-color: $color-accent-2;
        }
    }
}

.alm-nav-1{
    @include alm-nav-base(right, left);
}

.alm-nav-2{
    @include alm-nav-base(right, right);
}

.alm-header-spacer {
    clear: both;
}