<!-- <section class="dm-blog-banner">
    <div class="dm-container">
        <div class="dm-blog-banner-nav">
        <a href="/blog" {{#equals blogcategory 'all'}}class="dm-blog-nav-selected"{{/equals}}>All</a>
        <a href="/blog/product" {{#equals blogcategory 'product'}}class="dm-blog-nav-selected"{{/equals}}>Product</a>
        <a href="/blog/company" {{#equals blogcategory 'company'}}class="dm-blog-nav-selected"{{/equals}}>Company</a>
        <a href="/blog/practices" {{#equals blogcategory 'practices'}}class="dm-blog-nav-selected"{{/equals}}>Practices</a>
        <a href="/blog/technical" {{#equals blogcategory 'technical'}}class="dm-blog-nav-selected"{{/equals}}>Technical</a>
        </div>
    </div>
</section> -->