<footer class="alm-footer">
    <div class="alm-row">
        <div class="alm-footer-column alm-row-item-3">
            <h3>"Sunlight is said to be the best of disinfectants", Louis Brandeis</h3>
            <p>You work hard to produce a great product, a little more sunlight can build a lot more trust.</p>
            <div>
                <a href="https://twitter.com/auditlogco" title="@auditlogco on twitter"><img src="/images/3rdparty/twitter36.png" alt="@auditlogco" /></a>
                <a href="mailto://{{ email.hello }}" title="Say hello! (email)"><img src="/images/3rdparty/email36.png" alt="hello@auditlog.co" /></a>
            </div>
            <div class="alm-footer-legal-nav">
                <a href="/legal">Terms of Service</a>
                <a href="/privacy">Privacy Policy</a>
            </div>
        </div>
        <div class="alm-footer-column alm-row-item-1 alm-nonmobile">
            <h4>Categories</h4>
            <ul>
                <!-- <li><a href="/about">About</a></li> -->
                <!-- <li><a href="/blog">Blog</a></li> -->
                <li><a href="/features">Features</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/docs">Docs</a></li>
                <li><a href="mailto://{{ email.hello }}" title="Send us a message!">Contact</a></li>
            </ul>
        </div>
        <div class="alm-footer-column alm-row-item-1 alm-nonmobile">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="https://twitter.com/auditlogco" title="@auditlogco on twitter">Twitter</a></li>
            </ul>
        </div>
        <div class="alm-footer-column alm-row-item-1 alm-center alm-nonmobile">
            <a class="alm-cta-primary" href="{{ links.signup }}">Sign Up</a><br/>
            or <a href="/features">Learn More</a>
        </div>
    </div>
</footer>