<footer class="alm-footer">
    <div class="alm-row">
        <div class="alm-row-item-3">
            <h3>Some larger text that sounds good</h3>
            <p>Some smaller text that also sounds good</p>
            <div>
                social icons
            </div>
            <div class="alm-footer-legal-nav">
                legal links
            </div>
        </div>
        <div class="alm-row-item-1">
            Menu links 1
        </div>
        <div class="alm-row-item-1">
            Social + contact info
        </div>
        <div class="alm-row-item-1">
            Buy + features
        </div>
    </div>
</footer>