<header class="alm-header">
    <div class="alm-header-content">
        <a href="/" class="alm-logo">
            <img src="" alt="AL" />
            <span>auditlog</span>
        </a>
        <div class="alm-nav">
            <a href="/" class="alm-only-large {{#equals navmenu 'home'}}alm-nav-selected{{/equals}}">Home</a>
            <a href="/features" {{#equals navmenu 'features'}}class="alm-nav-selected"{{/equals}}>Features</a>
            <a href="/pricing" {{#equals navmenu 'pricing'}}class="alm-nav-selected"{{/equals}}>Pricing</a>
            <!-- <a href="/blog" {{#equals navmenu 'blog'}}class="alm-nav-selected"{{/equals}}>Blog</a>
            <a href="/docs" {{#equals navmenu 'docs'}}class="alm-nav-selected"{{/equals}}>Docs</a> -->
            <a href="https://app.auditlog.co/" class="alm-login">Login</a>
        </div>
        <div class="alm-header-spacer"></div>
    </div>
</header>