<header class="alm-header">
    <div class="alm-header-content">
        <a href="/" class="alm-logo">
            <img src="/images/logo56.png" alt="AL" />
            <span>auditlog</span>
        </a>
        <div class="alm-nav-2">
            <a href="https://app.auditlog.co/" class="alm-nav-link alm-login alm-only-large">Login</a>
            <a href="https://app.auditlog.co/account/signup" class="alm-cta-light">Sign up</a>
        </div>
        <div class="alm-nav-1">
            <a href="/features" class="alm-nav-link {{#equals navmenu 'features'}}alm-nav-selected{{/equals}}">Features</a>
            <a href="/pricing" class="alm-nav-link {{#equals navmenu 'pricing'}}alm-nav-selected{{/equals}}">Pricing</a>
            <a href="/blog" class="alm-nav-link alm-only-large {{#equals navmenu 'blog'}}alm-nav-selected{{/equals}}">Blog</a>
            <a href="/docs" class="alm-nav-link alm-only-large {{#equals navmenu 'docs'}}alm-nav-selected{{/equals}}">Docs</a>
        </div>
        <div class="alm-header-spacer"></div>
    </div>
</header>