<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ description }}">
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.url }}" href="/rss.xml" />

<link href="https://fonts.googleapis.com/css?family=Raleway|Oxygen" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styles/lib/normalize.css" />
<link rel="stylesheet" type="text/css" href="/styles/stylesheet.css" />

<link rel="apple-touch-icon-precomposed" href="/images/favicon/favicon-152.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/images/favicon/favicon-144.png">
<link rel="icon" href="/images/favicon/favicon-57.png" sizes="57x57">
<link rel="icon" href="/images/favicon/favicon-152.png" sizes="152x152">