@import "../variables";

$left-top-padding: 30px;
$h1-height: 24px;
$h1-bottom-margin: 12px;
$right-top-padding: $left-top-padding + $h1-height + $h1-bottom-margin;

$middle-column-width: 45%;

.alm-api-area{
    @extend .alm-docs-area;

    h1 > a,
    h2 > a{
        color: $text-color-normal;
        text-decoration: none;
    }

    th{
        text-align: left;
        border-bottom: 1px solid $ws_lightgrey;
        padding: 5px 10px;
    }

    td{
        padding: 10px;
    }
}

.alm-api-sidebar{
    @extend .alm-docs-sidebar;
}

.alm-api-header{
    @extend .alm-docs-header;
}

.alm-api-menu{
    @extend .alm-docs-menu;
}

.alm-api-main{
    @extend .alm-docs-main;
}

.alm-api-background{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100% - $middle-column-width;
    background-color: $color-background-api-docs;
}

.alm-api-lang-selector{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100% - $middle-column-width;
    background-color: $ws_darkgrey;

    height: 44px;
    line-height: 44px;

    & > a,
    & > span{
        display: block;
        float: left;
        text-decoration:none;
        padding: 5px 10px;
        margin: 8px;
        line-height: 20px;

        &.selected{
            background-color: $color-primary;
            border-radius: 6px;
        }
    }

    & > a{
        color: $text-color-inverse;
    }

    & > span{
        color: $ws_medgrey;
    }
}

.alm-api-sections{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;

    ul {
        margin: 1em 3em 1em 1em;
    }

    li{
        margin: 1em 0;
    }
}

.alm-api-section{
    clear: both;
}

.alm-api-section-left{
    float: left;
    width: $middle-column-width;
    padding-top: $left-top-padding;

    & > p,
    & > h1,
    & > h2,
    & > h3,
    & > pre {
        padding: 0 28px;
    }
    
    & > table{
        margin: 0 28px;
        
        td{
            vertical-align: top;
        }
    }

    & > p + h1,
    & > p + h2,
    & > p + h2 {
        // treat headers inside sections as top padded also
        padding-top: $left-top-padding;
    }
}

.alm-api-section-right{
    position: relative;
    margin-left: $middle-column-width;
    padding-top: $right-top-padding;

    &.alm-extra-top-margin{
        padding-top: $right-top-padding;
    }

    & > blockquote{
        margin: 0 2em 8px 2em;
        color: white;
    }
    & > pre{
        margin: 0 2em 8px 2em;
        padding: 20px;
        display: block;
        color: white;
        background-color: $ws_darkgrey;
    }

    & > blockquote,
    & > pre {
        // start invisible - jquery will enable relevant ones
        display: none;
    }
}

.alm-api-note{
    font-style: italic;
}

.alm-api-redirect-note{
    margin: 2em 2em 1em 2em;
    padding: 1em 2em;
    border-radius: 6px;
    border: 1px solid $color-primary;
}

.alm-api-fieldName{
    font-family: mono;
    vertical-align: top;
}

.alm-api-type{
    font-size: 12px;
}
.alm-api-required{
    font-size: 12px;
    display: none;
}
.alm-api-optional{
    font-size: 12px;
    color: $ws_medgrey;
}