@import "../variables";

$left-top-padding: 30px;
$h1-height: 24px;
$h1-bottom-margin: 12px;
$right-top-padding: $left-top-padding + $h1-height + $h1-bottom-margin;

$middle-column-width: 45%;

.alm-api-header{
    text-align: center;
    padding: 10px 0;

    & > .alm-logo{
        float: unset;
    }
}

.alm-api-area{
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;

    font-size: 15px;

    h1{
        font-size: 24px;
        line-height: $h1-height;
        margin-bottom: $h1-bottom-margin;
    }

    h2{
        font-size: 18px;
        line-height: $h1-height;
        margin-bottom: $h1-bottom-margin;
    }

    h1 > a,
    h2 > a{
        color: $text-color-normal;
        text-decoration: none;
    }

    th{
        text-align: left;
        border-bottom: 1px solid $ws_lightgrey;
        padding: 5px 10px;
    }

    td{
        padding: 10px;
    }
}

.alm-api-menu{
    margin-top: 20px;

    & > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        ul {
            padding: 0;
            margin: 0 0 0 1em;
            list-style-type: none;
        }
    }

    a {
        display: block;
        padding: .25em 1em;
        text-decoration: none;
        font-size: 14px;
        color: $text-color-normal;
    }
    a:hover{
        text-decoration: underline;
    }
    a.selected{
        color: $color-accent-1;
        text-decoration: underline;
    }
}

.alm-api-background{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100% - $middle-column-width;
    background-color: $color-background-api-docs;
}

.alm-api-lang-selector{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100% - $middle-column-width;
    background-color: $ws_darkgrey;

    height: 44px;
    line-height: 44px;

    & > a,
    & > span{
        display: block;
        float: left;
        text-decoration:none;
        padding: 5px 10px;
        margin: 8px;
        line-height: 20px;

        &.selected{
            background-color: $color-primary;
            border-radius: 6px;
        }
    }

    & > a{
        color: $text-color-inverse;
    }

    & > span{
        color: $ws_medgrey;
    }
}

.alm-api-sidebar{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 240px;
    border-right: 1px solid $ws_lightgrey;
}

.alm-api-header{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 240px;
}

.alm-api-menu{
    position: absolute;
    overflow-y: auto;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 240px;
}

.alm-api-main{
    position: absolute;
    left: 240px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.alm-api-sections{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;

    ul {
        margin: 1em 3em 1em 1em;
    }

    li{
        margin: 1em 0;
    }
}

.alm-api-section{
    clear: both;
}

.alm-api-section-left{
    float: left;
    width: $middle-column-width;
    padding-top: $left-top-padding;

    & > p,
    & > h1,
    & > h2 {
        padding: 0 28px;
    }
    
    & > table{
        margin: 0 28px;
    }

    & >  p + h1,
    & > p + h2,{
        // treat headers inside sections as top padded also
        padding-top: $left-top-padding;
    }
}

.alm-api-section-right{
    position: relative;
    margin-left: $middle-column-width;
    padding-top: $right-top-padding;

    &.alm-extra-top-margin{
        padding-top: $right-top-padding;
    }

    & > blockquote{
        margin: 0 2em 8px 2em;
        color: white;
    }
    & > pre{
        margin: 0 2em 8px 2em;
        padding: 20px;
        display: block;
        color: white;
        background-color: $ws_darkgrey;
    }

    & > blockquote,
    & > pre {
        // start invisible - jquery will enable relevant ones
        display: none;
    }
}

.alm-api-note{
    font-style: italic;
}

.alm-api-fieldName{
    font-family: mono;
    vertical-align: top;
}

.alm-api-description{

}
.alm-api-type{
    font-size: 12px;
}
.alm-api-required{
    font-size: 12px;
    display: none;
}
.alm-api-optional{
    font-size: 12px;
    color: $ws_medgrey;
}