@import "../variables";

.alm-docs-header{
    text-align: center;
    padding: 10px 0;

    & > .alm-logo{
        float: unset;
    }
}

.alm-docs-area{
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;

    font-size: 15px;

    h1{
        font-size: 24px;
        line-height: $h1-height;
        margin-bottom: $h1-bottom-margin;
    }

    h2{
        font-size: 18px;
        line-height: $h1-height;
        margin-bottom: $h1-bottom-margin;
    }

    h3{
        font-size: 14px;
        font-weight: bold;
    }

    // h1 > a,
    // h2 > a{
    //     color: $text-color-normal;
    //     text-decoration: none;
    // }

    // th{
    //     text-align: left;
    //     border-bottom: 1px solid $ws_lightgrey;
    //     padding: 5px 10px;
    // }

    // td{
    //     padding: 10px;
    // }
}

.alm-docs-menu{
    margin-top: 20px;

    & > span.alm-menu-header{
        color: $ws_medgrey;
        padding: .25em 1em;
    }

    & > ul {
        margin: 0.5em 0 0 0;
        padding: 0;
        list-style-type: none;

        ul {
            padding: 0;
            margin: 0 0 0 1em;
            list-style-type: none;
        }
    }

    a {
        display: block;
        padding: .25em 1em;
        text-decoration: none;
        font-size: 14px;
        color: $text-color-normal;
    }
    a:hover{
        text-decoration: underline;
    }
    a.selected{
        color: $color-accent-1;
        text-decoration: underline;
    }
}

.alm-docs-sidebar{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 240px;
    border-right: 1px solid $ws_lightgrey;
}

.alm-docs-header{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 240px;
}

.alm-docs-menu{
    position: absolute;
    overflow-y: auto;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 240px;
}

.alm-docs-main{
    position: absolute;
    left: 240px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.alm-docs-content{
    max-width: 770px;
    padding: 1em;
}