@import "../variables";

.alm-pricing-section{
    margin: -220px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include for-tablet-portrait-up{
        flex-direction: row;
    }
}

.alm-pricing-column{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: $color-background-white;
    border-radius: 6px;
    margin: 0 2em;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 2em;
    text-align: center;
}

.alm-pricing-plan{
    text-align: center;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    color: $ws_medgrey;
    font-weight: bold;
}

.alm-pricing-amount{
    @extend .h1;

    text-align: center;
    margin: 0;

    sup{
        font-size: 60%;
    }
}

.alm-pricing-period{
    text-align: center;
    color: $ws_medgrey;
}

.alm-pricing-list{
    text-align: justify;
    list-style-type: none;

    & > li{
        margin: 4px 0;
    }

    & > li:before{
        font-family: 'fontawesom-min';
        content: '\e804';
        margin: 0 .75em 0 -15px;
        color: $cs_green;
    }
}

.alm-pricing-cta{
    margin-top: auto;  
}

.alm-pricing-faq{
    max-width: 1200px;
    margin: 6em auto;
    
    > h1{
        text-align: center;
    }
}

.alm-pricing-faq-columns{
    display: flex;
    flex-direction: column;

    @include for-tablet-portrait-up{
        flex-direction: row;
    }

}

.alm-pricing-faq-column{
    flex: 1 0 auto;
    max-width: 500px;
    margin: 0 2em;
}