
// cs: color swatch derived - match each other but not logo
$cs_blue: #5bc0eb;          //      91, 192, 235
$cs_green: #9bc53d;
$cs_orange: #f0b83e;
$cs_red: #c3423f;
$cs_darkgrey: #404e4d;

// ws: website - derived from logo
$ws_orange: #fb9728;        //  	251, 151, 40
$ws_green: #44af69;         //      68, 175, 105
$ws_white: #FFFFFF;
$ws_lightgrey: #dddddd;
$ws_medgrey: #86807C;
$ws_darkgrey: #26201C;
$ws_lightergrey: #fafbfc;

$ws_lightblue: #e3f4fc;     //made up from light cs color

$resp-tablet-min-width: 550px;
$resp-screen-min-width: 770px;

// standards
$color-primary: $cs_green;
$color-accent-1: $cs_blue;
$color-accent-2: $cs_orange;

$color-background-white: $ws_white;
$color-background-dark: $cs_darkgrey;

$color-background-api-docs: #4c555a;

$font-size-normal: 13px;
$font-size-larger: 16px;

$text-color-normal: $ws_darkgrey;
$text-color-grey: $cs_darkgrey;
$text-color-inverse: $ws_white;

// Device regions
//  https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
@mixin for-small-phone-only {
    @media (max-width: 320px) { @content; }
}
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media only screen and (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media only screen and (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media only screen and (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media only screen and (min-width: 1800px) { @content; }
}