@import "../variables";

%simple-button-basics {
    padding: 0.75em 1.75em;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    display: inline-block;
}

@mixin simple-button($color, $hoverColor, $borderColor, $textColor){
    @extend %simple-button-basics;
    color: $textColor;
    background-color: $color;
    border-color: $borderColor;
    white-space: nowrap;
    transition: all 150ms ease-in-out;

    &:hover{
        color: $textColor;
        background-color: $hoverColor;
        border-color: $borderColor;
    }
}

.alm-cta-primary{
    @include simple-button($color-primary, darken($color-primary, 10%), $color-primary, $text-color-inverse);
}

.alm-cta-light{
    @include simple-button(transparent, lighten($color-primary, 40%), $color-primary, $color-primary);
}

// .dm-simple-button,
// .dm-simple-button:visited{
//     .simple-button(@cs_blue);
// }
// .dm-simple-button:hover{
//     .simple-button-hover(@cs_blue);
// }

// .dm-shadowed{
//     box-shadow: 0px 0px 4px @ws_darkgrey;
// }