<!doctype html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    {{> head }}
    <script
      src="/scripts/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
    <script src="/scripts/jquery.waypoints.min.js"></script>
    <script src="/scripts/highlight.pack.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="/styles/highlight/solarized-dark.css" /> -->
    <link rel="stylesheet" type="text/css" href="/styles/highlight/solarized-dark.css" />
    <script src="/scripts/highlight.pack.js"></script>
</head>
<body>
  {{{ contents }}}

  {{> analytics }}
</body>
</html>