<!doctype html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    {{> head }}
</head>
<body>
  <div class="alm-docs-area">

    <div class="alm-docs-sidebar">
        <header class="alm-docs-header">
            <a href="/" class="alm-logo">
                <img src="/images/logo56.png" alt="AL" />
                <span>auditlog</span>
            </a>
        </header>
        
        <div class="alm-docs-menu">
            <span class="alm-menu-header">Getting Started</span>
            <ul>
                <li><a href="/docs/quickstart">Quickstart</a></li>
                <li><a href="#">Customizing the Drop-in</a></li>
                <li><a href="#">Sending Events</a></li>
                <li><a href="#">Supporting Privacy</a></li>
            </ul>
        </div>
    </div>

    <div class="alm-docs-main">
      <div class="alm-docs-content">
        {{{ contents }}}
      </div>
    </div>
  </div>

  {{> analytics }}
    
</body>
</html>