<!doctype html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    {{> head }}
</head>
<body>
  {{> header }}

  <div class="dm-front-banner-light"></div>
  <div class="dm-legal-menu">
    <div class="dm-legal-menu-items">
      <a href="/legal" {{#equals subcategory 'Terms'}}class="dm-selected"{{/equals}}>Service Agreement</a>
      <a href="/legal/scheduleA" {{#equals subcategory 'Schedule A'}}class="dm-selected"{{/equals}}>Schedule A: Plans</a>
      <a href="/legal/scheduleB" {{#equals subcategory 'Schedule B'}}class="dm-selected"{{/equals}}>Schedule B: SLA</a>
    </div>
  </div>
  <div class="dm-legal-content">

    {{{ contents }}}

  </div>

  {{> footer }}

  {{> analytics }}
  
</body>
</html>