@import "../variables";


body{
    background-color: $bg_body;
    color: $ws_darkgrey;
}

//** Anchors
a, a:visited{
    color: $ws_green;
}
a:hover{
    color: darken($ws_green, 10%);
    text-decoration: none;
}

a.dm-dark-link,
a.dm-dark-link:visited{
    color: darken($ws_green, 10%);
}
a.dm-dark-link:hover{
    color: darken($ws_green, 20%);
    text-decoration: none;
}

//** Code Blocks
pre code{
    display: block;
    padding: 1em;
    color: $ws_darkgrey;
    border: 1px solid $ws_lightgrey;
    border-radius: 8px;
    white-space: pre;
    margin: 2em 0;
    background-color: $ws_lightergrey;
    overflow-x: auto;
    font-size: 14px;
}

pre code.lang-lr-syntax{
    margin: 0;
    border-radius: 0px;
    border-left-width: 8px;
    background-color: transparent;
}